/* section */

.sobremi {
	flex-direction: column;
	align-items: center;
	height: fit-content;
	margin-top: 8vh;
	margin-bottom: 2vh;
}

section h2	{
	margin-top: 8vh;
	margin-bottom: 0;
	font-weight: 500;
	font-size: 3rem;
}

section p {
	margin-top: 1vh;
	margin-bottom: 0;
}

.sobremi , .container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.container {
	margin: 0 30vh;
}

.container-columns {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 100%;
	font-size: 1.3rem;
	gap: 2vh;
}

/* general de las cajas estandar y las cajas de columnas */

.container-columns-caja , .normal-box {
	display: flex;
	flex-direction: column;
	height: fit-content;
	padding: 3vh 2vh;
	gap: 2vh;
	box-sizing: border-box; /* se usa para que no se tenga en cuenta el padding en el width */
	background-image: linear-gradient(to bottom right, cyan, gold);
	border-radius: 3rem;

}

.columns-50 {
	width: calc(50% - 1vh);	/* se resta el width de la columna que queramos menos el margin o gap */
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.columns-33 {
	width: calc(33% - 1vh);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title-container-content{
	font-size: 1.5rem;
	text-align: center;
	margin: 0;
	margin-bottom: 1.5vh;	
}

.underline-title{
	width: 100%;
	height: 1px;
	background-color: rgb(0, 0, 0, 0.5);
}

.normal-box {
	width: inherit;
	font-size: 1.3rem;
	padding-bottom: 4vh;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.normal-box div h4 {
	margin: 0;
	margin-bottom: 1vh;
}

.info-container {
	display: flex;
	flex-direction: column;
	gap: 1vh;
}

.info-contenido , .info-contenido-rating{
	display: flex;
	gap: 2vh;
}

.info-contenido div , .info-contenido-rating div{
	display: flex;
}

.info-contenido div:first-child {
	width: 30%;
	justify-content: end;
}

.info-contenido div:last-child {
	width: 70%;
	justify-content: start;
}

.info-contenido-rating div:first-child {
	width: 60%;
	margin-left: 5%;
}

.info-contenido-rating div:last-child {
	width: 40%;
	align-items: center;
}

.rating-img {
	display: flex;
	width: 70%;
	margin: 0 15%;
}

.info-container-estandar {
	display: flex;
	flex-direction: column;
	gap: 1vh;
}

.info-container-estandar p {
	padding: 0;
	margin: 0;
}

.subtitle-container {
	margin-top: 2vh;
	margin-bottom: 1vh;
	text-align: center;
}

.text-deco {
	text-decoration: underline;
}

.button-container {
	display: flex;
	justify-content: center;
	gap: 2vh;
}

.boton {
	padding: 1rem;
	width: 10rem;
	border-radius: 2rem;
}

.boton-redirec-1 {
	border: lightblue 1px solid;
	background-color: whitesmoke;
	transition: 1s;
}

.boton-redirec-1:hover {
	cursor: pointer;
	background-color: lightblue;
	transition: 1s;
}

@media screen and (max-width: 1500px) {

	.columns-50, .columns-33 {
		width: 100%;
	}

}

@media screen and (max-width: 1200px) {

	.container {
		width: 98vw;
	}

	.normal-box , .container-columns-caja {
		font-size: 1rem;
	}

	.rating-img {
		width: 80px;
	}

	.email {
		font-size: 0.8rem;
	}

}