section {
	display: flex;
	width: 100%;
	height: 100vh;
}

.image-background-container{
	position: absolute;
	top: 0;
    left: 0;
	height: 100%;
	width: 100%;
	z-index: -2;

}

.image-background{

    width: 100%; 
    height: 100vh;
	object-fit: cover;
}

.layout{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.formulario{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

div h2 {
	z-index: 1;
	font-size: 50px;
	font-weight: 700;
	color: pink;
	margin-bottom: 10px;
}

div p {
	z-index: 1;
	color: white;
	margin-bottom: 30px;
	font-size: 20px;
}

#form-contact{
	display: flex;
	flex-direction: column;
	width: 40%;
	height: fit-content;
	z-index: 1;
    background-color: rgba(240, 240, 240, 0.7);
	padding: 10px;
	border-radius: 30px;
}

form label {
	font-size: 20px;
	margin: 5px;
	margin-top: 15px;
}

form input, textarea {
	margin: 5px;
	height: 40px;
	border-radius: 10px;
	border: 2px solid black;
}

textarea {
	height: 10vh;
	padding: 5px;
	padding-top: 10px;
}

input:hover,textarea:hover {
	border: 2px solid cyan;
}

input:focus,textarea:focus {
	border: none;
	background-color: lightblue;
}

#boton_envio{
	margin: 5px 30%;
	width: 40%;
}

@media screen and (max-width: 1200px) {

	#form-contact {
		width: 90%;
	}

	div h2 {
		font-size: 30px;
		font-weight: 600;
	}

	div p {
		z-index: 1;
		font-size: 15px;
	}

}