
/*--- Header ---*/

header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 85vh;
	background-color: #00000080;
}

.video-container {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: -1; 
}

.video-background {
    width: 100%; 
    height: 100%;
    object-fit: cover; /* Permite redimensionar el video para mantener su ratio de aspecto mientras llenar la caja */
    
}

.title-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	gap: 5px;
}

.title-container p:first-child{

    font-weight: 200;
    font-size: 20px;
    margin: 5px;
}

h1{
	margin: 0;
	font-size: 60px;
    margin: 5px;
}

.title-container span{
	width: 120%;
	height: 1px;
	background-color: rgb(240, 240, 240, 0.3);
}

.title-container p:last-child{
    margin: 15px;
}


/*--- Section ---*/


.section-container {
	background-color: rgb(210, 210, 210);
	padding: 10vh 20vh;
	display: flex;
	flex-direction: column;
	gap: 2vh;
}

section {
	background-color: rgb(240, 240, 240);
	border-top: 0.5vh solid blueviolet;
	border-bottom: 0.5vh solid blueviolet;
	border-radius: 50px;
	height: 96vh;
	width: 100%;
	max-width: fit-content;
	height: fit-content;
	padding: 10vh 15vh;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#perfil{
	width: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3vh;
}

.title-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1vh;
}

.title-section h2{
	font-weight: 400;
	font-size: 3rem;
	margin: 0;
}

.title-section span{
	width: 150%;
	height: 1px;
	background-color: rgb(0, 0, 0, 0.5);
}

.deco-span {
	display: flex;
	width: 100%;
	height: 1px;
	background-color: rgb(0, 0, 0, 0.5);
}

.section-pic-container {
	display: flex;
	justify-content: center;
	margin: auto 10px;
}

.profile-picture{
	max-width: 20vw;
    max-height: 20vw;
    border-radius: 50%;
    border: 3px solid black;
}

.section-text {
	width: fit-content;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 2vh;
}

.contenido-section {
	margin: 0;
	padding: 0 10vw;
	font-size: 20px;
	font-weight: 500;
}

.button-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2vw;
}

.boton {
	padding: 1rem;
	width: 10rem;
	border-radius: 2rem;
}

.boton-redirec-1,
.boton-redirec-2 {
	border: lightblue 1px solid;
}

.boton-redirec-1:hover,
.boton-redirec-2:hover {
	cursor: pointer;
}

.boton-redirec-1:hover,
.boton-redirec-2 {
	background-color: lightblue;
	transition: 1s;
}

.boton-redirec-1 {
	background-color: whitesmoke;
	transition: 1s;
}

.boton-redirec-2:hover {
	color: white;
	background-color: black;
	transition: 1s;
}

.video-iframe-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#videocurriculum {
	width: 30vw;
	height: 30vw;
	border-radius: 50px 0;
	border-top: 5px solid red;
	border-bottom: 5px solid red;
	outline: 5px solid black;
	outline-offset: 3px;
	outline-style: inset;
}

@media screen and (max-width: 1200px) {

	h1{
		text-align: center;
		font-size: 30px;
	    margin: 5px;
	}

	.title-container span{
		width: 100vw;
	}

	.title-container p:last-child{
    	margin: 15px;
    	text-align: center;
	}

	.section-container {
		background-color: rgb(210, 210, 210);
		padding: 5vh 2vw;
		display: flex;
		flex-direction: column;
		gap: 2vh;
	}

	.contenido-section {
		padding: 0;
		font-size: 16px;
		font-weight: 300;
	}

	.section-pic-container {
		display: flex;
		justify-content: center;
		margin: auto 10px;
	}

	.profile-picture{
		max-width: 150px;
	    max-height: 150px;
	    border-radius: 50%;
	    border: 3px solid black;
	}

	section {
		width: 100%;
		max-width: fit-content;
		height: fit-content;
		padding: 10vh 1vh;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	}

	.title-section h2{
		font-weight: 400;
		font-size: 2rem;
		margin: 0;
	}

	.title-section span{
		width: 80vw;
	}

	#videocurriculum {
		width: 200px;
		height: 200px;
	}


}